:root {
  --blair-red1-color: rgb(186, 34, 34);
  --blair-red2-color: #990000;
  --blair-white1-color: #EEEEEE;
  --blair-white2-color: #FFFFFF;
  --dark-blue1-color: rgb(25, 33, 82);
  --dark-blue2-color: rgb(25, 60, 102);
  --med-blue1-color: #3ab4cc;;
}

header {
  /* border: red 1px solid; */
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header ul {
  border: green solid 4px;
}
header ul li {
  border: orange 1px solid;
}

header p {
  text-align: center;
}

header .banner {
  width: 100%;
  height: 30vh;
  background-image: url("/images/header-school-blair.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  /* border: green 4px solid; */
  width: 100%;
  margin: 1rem 0 2rem;
  padding-bottom: 1rem;
}

.bg {
  background-image: url('/images/Japanese-Pattern-1.jpg');
  background-color: var(--dark-blue1-color);
  background-blend-mode:luminosity;
  background-size: 175%;
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
  width: 100vw;
  height:100vh;
}

.title {
  color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  margin: 1rem auto 1rem;
}

.title h4 {
  padding-top: 1rem;
}

.v-stripe {
  width: 60vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 20vw;
  background-color: var(--dark-blue1-color);
  z-index: 1;
  box-shadow: rgba(0, 0, 0, .8) 0 0 10px;
  text-align: center;
  padding-top: 1rem;
}

.main-content {
  padding: 1rem 1rem 1rem 1rem;
}

.main-content img {
  width: 100%;

}
.contact-box {
  width: 60vw;
  margin: 1rem auto 1rem;
  color: aliceblue;
  font-size: 0.8rem;
  line-height: 0.9rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.call-to-action {
  color: aliceblue;
  text-align: center;
  width: 100%;
  margin: 0.5rem 0 0.5rem;
  padding: 0.5rem 0 0.5rem;
  background-color: var(--blair-red2-color);
}

.container {
  width: 90%;
  max-width: 920px;
  padding-bottom: 2em;
  margin: 1.25rem auto 1rem;
  background:var(--blair-white2-color);
  border-radius: 1rem;
  box-shadow: 0 3px rgba(0, 0, 0, .1);
  overflow: hidden;
  border: var(--blair-white1-color) 4px solid;
}

.topic {
  border: purple 2px solid;
  width: 60vw;
  margin: 1rem auto 1rem;
}

.topic h3 {
  margin-bottom: 0.5rem;
}


/* MAIN NAV -------- */

.main-nav a {
  font-size: .95em;
  color: #222;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 1em;
  transition: .2s;
}

.main-nav a:hover,
.main-nav .active {
  color: #fff;
  background: #3b80d1;
}


/* ================================= 
  MEDIA QUERIES
==================================== */

@media (min-width: 0) and (max-width: 768px) {
  body {
    padding-top: .8em;
  }

  .home a {
    border-color: transparent;
  }


  .main-nav a {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  .main-nav a:hover {
    border-color: rgba(0, 0, 0, .1);
  }

  .courses h2 {
    margin-bottom: 0;
  }

  .course-nav {
    display: block;
    margin: 1.5em 0 3.2em;
  }

  .home a,
  input,
  button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }
}

@media (min-width: 769px) {
  body {
    padding-top: 3em;
  }

  .home a {
    border-color: #3b80d1;
  }

  .media img,
  .media>div,
  .teacher {
    float: left;
  }

  .media>div {
    width: 85.1%;
    margin-left: 1.5em;
  }

  .teacher {
    width: 48.73%;
    margin-bottom: 1.5em;
  }

  .teacher+.teacher {
    margin-left: 2.54%;
  }

  .teacher:nth-child(2n+3) {
    clear: left;
    margin-left: 0;
  }

  /* MAIN NAV -------- */
  header,
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav a {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    padding: 1.25em 1.5em;
  }

  .main-nav a:hover {
    border-color: rgba(0, 0, 0, .1);
  }

  /* COURSE NAV -------- */
  .course-nav {
    float: right;
  }

  .courses h2 {
    float: left;
  }
}